*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #0D0800;
    font-family: 'Poppins', sans-serif;
}
/********************************
**Common css code
*********************************/
.container{
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
}
section {
    padding: 80px 0;
}
a{
    text-decoration: none;
}
.btn {
    padding: 9px 50px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s !important;
    letter-spacing: 4px;
}
.btn:hover {
    color: #0D0800;
    background: #fff;
    cursor: pointer;
    border-radius: 25px 0 25px 0;
}
/********************************
**Home section css code
*********************************/

.homeContent {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeAssets {
    text-align: center;
}
.homeAssets img {
    max-width: 256px;
    max-height: 256px;
    width: 100%;
    /* margin: 0 auto; */
}

.homeAssets .domain {
    font-size: 60px;
    font-weight: 800;
    color: #fff;
    text-align: center;
}

.homeAssets .blockChains {
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 500;
    margin: 40px 0;
}
.homeAssets .homeBtn {
    margin-top: 100px;
   display: flex;
   align-items: center;
   gap: 80px;
   justify-content: center;
}

/********************************
**Mint section css code
*********************************/
#mint{
    width: 100%;
}
.mintContent{
    text-align: center;
}
.mintContent img {
    width: 100%;
    max-width: 900px;
}
.mintContent .mintList {
    width: 100%;
    max-width: 900px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 10px;
}
.mintList li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid #fff;
}
.mintBtn {
    margin-top: 100px;
}


/********************************
**Feature section css code
*********************************/
.featureContent {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}

.featureContent .featureItem {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.featureItem p {
    color: #fff;
    font-weight: 500px;
    font-size: 26px;
    border-bottom: 3px solid #fff;
}

.litePaper {
    text-align: center;
    margin-top: 120px;
}


/********************************
**Footer css code
*********************************/

#footer {
    padding: 80px 0;
}

.footerContent {
    text-align: center;
}
.footerContent a img {
    width: 150px;
    margin: 0 auto;
}
.footerContent .copyRight {
    margin: 30px 0;
}
.footerContent .copyRight,.footerContent .copyRight a{
    font-size: 26px;
    font-weight: 500;
    color: #fff;
}
.footerContent .copyRight a:hover{
    text-decoration: underline;
    color: #dfc08e;
}
.footerContent .privacy {
    color: #fff;
    text-decoration: underline;
}

.footerContent .privacy:hover {
    color: #dfc08e;
}

/********************************
**Responsive css code
*********************************/
@media only screen and (max-width: 668px) {
    .mintContent .mintList {
        margin: 25px auto;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 10px;
    }
}

@media only screen and (max-width: 400px){
    .homeAssets .homeBtn {
        flex-direction: column;
    }
}